#register{
  padding: 5% 7% 1.5%;
  background-color: #f8f1f1;
}


#login-form{
  padding: 5% 10% 6%;
  background-color: #f8f1f1;
}

#Viewindex{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewAthlete{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewSponsorer{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewResult{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewCountry{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewEvent{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewEntry input[type='text']{
  width:130%;
}




#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'],
#log-form input[type='text'],
#log-form input[type='email'],
#log-form input[type='password'],
#NewEvent-form input[type='text'],
#NewEvent-form input[type='date'],
#NewEvent-form input[type='number'],
#NewAthlete-form input[type='text'],
#NewAthlete-form input[type='date'],
#NewAthlete-form input[type='number'],
#NewSponsorer-form input[type='text'],
#NewSponsorer-form input[type='number'],
#NewResult-form input[type='text'],
#NewResult-form input[type='number'],
#NewCountry-form input[type='text']{
    border: none;
    border-radius: unset;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-ubuntu);
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'],
#log-form input[type='text'],
#log-form input[type='email'],
#log-form input[type='password'],
#NewEvent-form input[type='text'],
#NewEvent-form input[type='number'],
#NewEvent-form input[type='date'],
#NewAthlete-form input[type='text'],
#NewAthlete-form input[type='number'],
#NewAthlete-form input[type='date'],
#NewSponsorer-form input[type='text'],
#NewSponsorer-form input[type='number'],
#NewResult-form input[type='text'],
#NewResult-form input[type='number'],
#NewCountry-form input[type='text']{
    outline: none;
    box-shadow: none;
}
