#register{
  padding: 5% 7% 1.5%;
  background-color: #f8f1f1;
}


#login-form{
  padding: 5% 10% 6%;
  background-color: #f8f1f1;
}

#UserHome,#index{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#UpdateData{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#InsertData{
  padding: 6% 7%;
  background-color: #f8f1f1;
}

#NewEntry input[type='text']{
  width:130%;
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'],
#log-form input[type='text'],
#log-form input[type='email'],
#log-form input[type='password'],
#InsertData-form input[type='text'],
#InsertData-form input[type='date'],
#InsertData-form input[type='number'],
#UpdateData-form input[type='text'],
#UpdateData-form input[type='date'],
#UpdateData-form input[type='number']{
    border: none;
    border-radius: unset;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-ubuntu);
}


